[submodule "product-docs-common"]
	path = product-docs-common
	url = https://github.com/cnrancher/product-docs-common.git
[submodule "dsc-style-bundle"]
	path = dsc-style-bundle
	url = https://github.com/cnrancher/dsc-style-bundle
